# --- Python / Django ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.log
db.sqlite3
media/
staticfiles/
*.pot
*.mo

# --- Virtual environments ---
venv/
env/
*.env

# --- IDE / Editor configs ---
.vscode/
.idea/
*.iml
*.swp
*.swo

# --- Node / Frontend ---
node_modules/
dist/
.vite/
build/
*.lock
*.cache
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- OS files ---
.DS_Store
Thumbs.db
ehthumbs.db
Icon?
